<h1>Results Page!!!</h1>

<ul>
    <% data["response"]["GeoObjectCollection"]["featureMember"].forEach(function(obj) { %>
      <li>
          <strong>
              <%= obj["GeoObject"]["name"] %>
          </strong> 
      </li>
    <% }) %>
</ul>

<a href="/">Search Again!</a>