<% include partials/header.ejs %>
<h2>You performed a <%= thing %></h2>

<% if (thing.toLowerCase() == "act") {%>
<p>good performance</p>
<% } else { %> 
<p>bad performance</p>
<% } %>

<% include partials/footer.ejs %>