<% include partials/header.ejs %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h2>Yelp Camp main page</h2>
            <a href="/campgrounds">Look at the list of camps</a>
        </div>
    </header>
</div>


    
<% include partials/footer.ejs %>